/*
    - Behavior of the scroll to be as fluid as possible when scrolling
        is triggered on the html element itself.
    - Define custom properties for the root elements.
    - Reset the color to color-primary for the section-tagline
        and card-category declarations and reset color to text-color
        for the body and anchor declarations.
*/
html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: #000000;
}

body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}
